label {
	border-radius: 3px;
	padding: 2px;
	border: solid 1px;
}

button {
	margin: 4px;
	padding: 2px;
	background-color: #e8ffea;
	border: hidden;
	box-shadow: 0 0 3px #444444;
	border-radius: 2px;
}

.toolBarMain {
	position: relative;
}

.toolBar {
	display: inline-block;
	border-radius: 10px;
}

.toolBar__button {
	border: hidden;
	box-shadow: 0 0 5px #444444;
	background-color: #ffffff;
	border-radius: 10px;
	min-width: 100px;
	font-size: 20px;
	margin: 1px 3px;
	padding: 6px 10px;
}

.menues {
	position: absolute;
	display: flex;
}

.samplesMenu, .filtersMenu, .saveMenu {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.figureMenu__button, .backgroundMenu__button, .samplesMenu__button, .filtersMenu__button, .saveMenu__button {
	border: hidden;
	box-shadow: 0 0 5px #444444;
	background-color: #ffffff;
	border-radius: 10px;
	min-width: 100px;
	font-size: 20px;
	margin: 2px 0;
	padding: 6px 8px;
}

.samplesMenu {
    transform: translate(771px, 0);
}

.filtersMenu {
    transform: translate(912px, 0);
}

.saveMenu {
    transform: translate(904px, 0);
}

.samplesMenu.active, .filtersMenu.active, .saveMenu.active {
	visibility: visible;
	z-index: 5;
}

.textForm, .figureForm, .imageForm, .backgroundForm, .canvasSizeForm {
	box-shadow: 0 0 5px #444444;
	border-radius: 10px;
	background-color: #ffffff;
	border: solid 1px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 10;
}

.textForm {
	visibility: hidden;
	top: 50px;
	left: 287px;
}

.figureForm {
	visibility: hidden;
	top: 50px;
	left: 393px;
}

.imageForm {
	visibility: hidden;
	top: 50px;
	left: 493px;
}

.backgroundForm {
	visibility: hidden;
	top: 50px;
	left: 626px;
}

.backgroundForm > * {
	margin: 3px;
}

.canvasSizeForm {
	visibility: hidden;
	top: 50px;
	left: 850px;
}

.textForm.active, .figureForm.active, .imageForm.active, .backgroundForm.active, .canvasSizeForm.active {
	visibility: visible;
}