.toolBarMain {
	position: relative;
	z-index: 5;
}

.toolBar {
	display: inline-block;
	border-radius: 10px;
}

.toolBar__button {
	border: hidden;
	box-shadow: 0 0 5px #444444;
	background-color: #ffffff;
	border-radius: 10px;
	min-width: 100px;
	font-size: 20px;
	margin: 1px 3px;
	padding: 6px 10px;
}

.menues {
	position: absolute;
	display: flex;
}

.figureMenu, .backgroundMenu, .samplesMenu, .filtersMenu, .saveMenu {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.figureMenu__button, .backgroundMenu__button, .samplesMenu__button, .filtersMenu__button, .saveMenu__button {
	border: hidden;
	box-shadow: 0 0 5px #444444;
	background-color: #ffffff;
	border-radius: 10px;
	min-width: 100px;
	font-size: 20px;
	margin: 2px 0;
	padding: 6px 8px;
}

.figureMenu {
    transform: translate(426px, 0);
}

.backgroundMenu {
    transform: translate(640px, 0);
}

.backgroundMenu__button {
    width: 126.75px;
}

.samplesMenu {
    transform: translate(645px, 0);
}

.filtersMenu {
    transform: translate(784.94px, 0);
}

.saveMenu {
    transform: translate(715.94px, 0);
}

.figureMenu.active, .backgroundMenu.active, .samplesMenu.active, .filtersMenu.active, .saveMenu.active {
	visibility: visible;
}

.textForm, .figureForm, .imageForm {
	background-color: #ffffff;
	border: solid 1px;
	padding: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 10;
}

.textForm {
	visibility: hidden;
	top: 50px;
	left: 287px;
}

.figureForm {
	visibility: hidden;
	top: 50px;
	left: 393px;
}

.imageForm {
	visibility: hidden;
	top: 50px;
	left: 460px;
}

.textForm.active, .figureForm.active, .imageForm.active {
	visibility: visible;
}